<h1>Seja bem vindo(a) ao meu Crud</h1>

<p>O que deseja fazer?</p>

<form action="/cadastro" method="get">
    <button type="submit">Cadastrar-se</button>
</form>
<br><br>
<form action="/login" method="get">
    <button type="submit">Login</button>
</form>
<br><br>
<form action="/delet" method="get">
    <button type="submit">Deletar algum Usuario</button>
</form>
<br><br>
<form action="/editar" method="get">
    <button type="submit">Modificar algum usuario</button>
</form>
<br><br>

