<form action="/add" method="post">
    <p>Nome: </p>
    <input type="text" name="nomeCadastro">
    <br>
    <p>Senha: </p>
    <input type="text" name="senhaCadastro">
    <br>
    <p>Idade: </p>
    <input type="text" name="idadeCadastro">
    <br>
    <p>CPF: </p>
    <input type="text" name="cpfCadastro">
    <br><br>
    <button type="submit">Cadastrar-se</button>
</form>