<form action="/del" method="post">
    <p>Informe o Nome de quem deseja deletar:</p>
    <input type="text" name="nomeDelet">
    <p>Informe o CPF de quem deseja deletar:</p>
    <input type="text" name="cpfDelet">
    <br><br><br>
    <button type="submit">Deletar</button>
</form>