<form action="/edit" method="post">
    <p>Informe o nome do usuario que deseja modificar</p>
    <p>Nome a Modificar: </p>
    <input type="text" name="nomeModificar">
    <br>
    <p>Nome: </p>
    <input type="text" name="nomeModificado">
    <br>
    <p>Senha: </p>
    <input type="text" name="senhaModificado">
    <br>
    <p>Idade: </p>
    <input type="text" name="idadeModificado">
    <br>
    <p>CPF: </p>
    <input type="text" name="cpfModificado">
    <br><br>
    <button type="submit">Modificar</button>
</form>